/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    border-radius: 0;
}

.navbar a {
    color: #ebebeb;
}

.navbar .glyphicon.glyphicon-user {
    font-size: 28px;
}

.navbar .glyphicon.glyphicon-triangle-bottom {
    vertical-align: middle;
}

.navbar-form {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar #welcomeLabel {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .navbar #searchButton {
        width: 100%;
    }
}
