body {
    font-family: Verdana;
}

.jumbotron p {
    font-size: 13px;
}

/*---------------------------- Layout ----------------------------*/

@media (min-width: 767px) {
    .col-sm-2 {
        padding-right: 0;
    }

    .col-sm-8 {
        padding-left: 0;
        padding-right: 0;
    }

    .col-sm-10 {
        padding-left: 0;
        padding-right: 15px;
    }

    .jumbotron .col-sm-10, .form-group .col-sm-10 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 768px) {
    .container .jumbotron, .container-fluid .jumbotron {
        padding: 15px 30px;
    }
}

/*---------------------------- Headings ----------------------------*/

h1, h2, h3, h4, h5 {
    color: #ffffff;
    margin-bottom: 20px;
    /*border-bottom: 2px solid #ffffff;*/
    /*padding-bottom: 5px;*/
    /*text-decoration: underline;*/
    /*text-decoration-style: wavy;*/
    text-decoration: solid;
}

h2 {
    text-align: center;
}

h4 {
    margin-top: 60px;
}

/*---------------------------- Spinning wheel ----------------------------*/

.ui-widget-overlay {
    background: #72879c;
}

.ui-dialog {
    border: 1px solid #333333;
}

#loading {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 100px;*/
    /*margin-left: -50px;*/
    /*height: 80px;*/
    /*margin-top: -40px;*/
}

#loading img {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
}

/*---------------------------- Tables ----------------------------*/

table, .table {
    font-size: 13px;
}

table {
    margin-bottom: 45px !important;
}

table a:not(.btn), .table a:not(.btn) {
    color: #df691a;
}

th {
    color: #ffc73d;
}

.table-striped {
    width: 100%;
}

/*.table-striped th, .table-striped td {*/
/*text-align: center;*/
/*}*/

table.customTable {
    width: auto;
}

table.customTable > tbody > tr > th {
    padding-right: 50px !important;
}

/*---------------------------- Misc ----------------------------*/

@media screen and (max-width: 767px) {
    #_submit, #registerButton {
        width: 100%;
    }
}

.nav-side-menu .active > .badge {
    background-color: #df691a;
}

.nav-tabs .badge {
    background-color: #df691a;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    opacity: 0.25;
}

/*---------------------------- jQuery UI ----------------------------*/

.ui-datepicker-month, .ui-datepicker-year {
    background-color: #4e5d6c;
    color: #ffffff;
}
