{% extends 'base-2-col.html.twig' %}

{% block body %}
    <h2>Task Fields</h2>

    {% if taskFields|length == 0 %}
        <p>You haven't added any task field. <a href="{{ path('taskfield_new') }}">Add one</a> now.</p>
    {% else %}
        {% include 'taskField/_list.html.twig' %}

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(taskFields) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('taskfield_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteField').click(function () {
                var taskfieldId = $(this).attr("taskfieldId");

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Task Field will be permanently deleted and cannot be recovered. Are you sure?');

                var deleteFieldUrl = '{{ path('taskfield_delete', {'id':'PLACEHOLDER'}) }}';
                deleteFieldUrl = deleteFieldUrl.replace('PLACEHOLDER', taskfieldId);

                openDeleteDialog("#dialog", "Delete the Field?", deleteFieldUrl, afterDelete, taskfieldId);
            });
        });

        function afterDelete(id) {
            $('.deleteField[taskFieldId=' + id + ']').addClass('disabled');
            $('.deleteField[taskFieldId=' + id + ']').prev().addClass('disabled');
        }
    </script>

{% endblock %}
