{{ form_start(categoryForm) }}

    {{ form_row(categoryForm.name) }}
    {{ form_row(categoryForm.description) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(categoryForm) }}
