{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit Category</h2>

    {{ form(categoryForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('category_show', {'id':category.id}) }}"
            class="btn btn-info btn-block"
            role="button">View</a>

{% endblock %}
