{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>

    {% if categories|length == 0 %}
        <p>You haven't added any category. <a href="{{ path('category_new') }}">Add one</a> now.</p>
    {% else %}
        {% include 'category/_list.html.twig' %}

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(categories) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('category_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}
    {#<script type="application/javascript" src="{{ asset('assets/javascript/adminCategory.js') }}"></script>#}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteCategory').click(function () {
                if (!$(this).closest('tr').hasClass('disabled')) {
                    var categoryId = $(this).attr("categoryId");
                    $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Category will be permanently deleted and cannot be recovered. Are you sure?');
                    openDeleteDialog("#dialog", "Delete the Category?", "/categories/" + categoryId, afterDelete, categoryId);
                }
            });
        });

        function afterDelete(id) {
            $('.deleteVehicle[categoryId=' + id + ']').closest('tr').addClass('disabled');
            $('.editVehicle[categoryId=' + id + ']').removeAttr('href');
        }

    </script>
{% endblock %}

