{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2>New Category</h2>

    {{ form(categoryForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('category_list') }}"
            class="btn btn-info btn-block"
            role="button">View All</a>

{% endblock %}

{% block javascripts %}

    <script>
        $.validate({modules: 'sanitize'});
    </script>

{% endblock %}
