{% extends '_layout.html.twig' %}

{% block content %}
    <div class="row">
        {#------------------------------------ LEFT SIDEBAR ------------------------------------#}
        <div class="col-sm-2">
            {% if is_granted("ROLE_USER") %}
                {% include '_sidebar.html.twig' %}
            {% endif %}
        </div>
        {#------------------------------------ CONTENT ------------------------------------#}
        <div class="col-sm-8">
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
        </div>
        {#------------------------------------ RIGHT SIDEBAR ------------------------------------#}
        {% if is_granted("ROLE_USER") %}
            {% set class='sidebar-right' %}
        {% else %}
            {% set class='' %}
        {% endif %}
        <div class="col-sm-2  {{ class }}">{% block rightSidebar %}{% endblock %}</div>
    </div>

    <div id="dialog" title="" style="display: none;">
        <p></p>
    </div>

{% endblock %}
