{% extends '_layout.html.twig' %}

{% block content %}
    <div class="row">
        {#------------------------------------ LEFT SIDEBAR ------------------------------------#}
        <div class="col-sm-2">{% include '_sidebar.html.twig' %}</div>
        {#------------------------------------ CONTENT ------------------------------------#}
        <div class="col-sm-8">
            <div class="jumbotron">
                {% block body %}{% endblock %}
            </div>
        </div>
        {#------------------------------------ RIGHT SIDEBAR ------------------------------------#}
        <div class="col-sm-2 sidebar-right">{% block rightSidebar %}{% endblock %}</div>
    </div>
{% endblock %}
