{% extends 'base.html.twig' %}

{% block body %}
    <h2>My Vehicles</h2>

    {% if vehicles|length == 0 %}
        <p>You haven't added any vehicle. <a href="{{ path('vehicle_new') }}">Add one</a> now.</p>
    {% else %}
        {% include 'vehicle/_list.html.twig' %}

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(vehicles) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('vehicle_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteVehicle').click(function () {
                var vehicleId = $(this).attr("vehicleId");

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Vehicle will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Vehicle?", "/vehicles/" + vehicleId, afterDelete, vehicleId);
            });
        });

        function afterDelete(id) {
            $('.deleteVehicle[vehicleId=' + id + ']').addClass('disabled');
            $('.deleteVehicle[vehicleId=' + id + ']').prev().addClass('disabled');
        }
    </script>

{% endblock %}
