{% extends 'base.html.twig' %}

{% block body %}
    <h2>New Vehicle</h2>

    {{ form(vehicleForm) }}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('vehicle_list') }}"
            class="btn btn-info btn-block"
            role="button">View All</a>

{% endblock %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true,
                changeMonth: true,
                changeDay: true,
                yearRange: '1930:+1',
//                maxDate: '+1y',
//                minDate: new Date(1930, 1 - 1, 1),
            });
        });
    </script>

{% endblock %}
