{#{% extends "@FOSUser/layout.html.twig" %}#}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{#{% block rightSidebar %}#}
    {#<a#}
            {#href="{{ path('fos_user_change_password') }}"#}
            {#class="btn btn-success btn-block"#}
            {#role="button">Change Password</a>#}

{#{% endblock %}#}
