{{ form_start(taskForm) }}

    {{ form_row(taskForm.name) }}
    {{ form_row(taskForm.description) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(taskForm) }}
