{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit Task</h2>

    <div class="row">
        <div class="col-sm-10">
            {{ include('task/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
