{% extends 'base.html.twig' %}

{% block body %}
    <h2>Tasks</h2>

    {% if tasks|length == 0 %}
        <p>You haven't added any task. <a href="{{ path('task_new') }}">Add one</a> now.</p>
    {% else %}
        {% include 'task/_list.html.twig' %}

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(tasks) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('task_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteTask').click(function () {
                var taskId = $(this).attr("taskId");
                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Task will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Task?", "/tasks/" + taskId, afterDelete, taskId);
            });
        });

        function afterDelete(id) {
            $('.deleteTask[taskId=' + id + ']').addClass('disabled');
            $('.editTask[taskId=' + id + ']').addClass('disabled');
        }
    </script>

{% endblock %}
