{% extends 'base.html.twig' %}

{% block body %}
    <h2>New Task</h2>

    {{ form(taskForm, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('task_list') }}"
            class="btn btn-info btn-block"
            role="button">View All</a>

{% endblock %}
