{#{% extends 'base-2-col.html.twig' %}#}
{% extends 'base.html.twig' %}

{% block body %}
    <h2>Dashboard</h2>

    <ul class="nav nav-tabs" style="border-bottom: 2px solid #2b3e50;">
        <li class="active"><a href="#vehiclesTab" data-toggle="tab"
                              aria-expanded="true">Vehicles{% if vehicles|length == 0 %}
                <span class="badge"><i class="fa fa-exclamation" aria-hidden="true"></i></span>{% endif %}</a>
        </li>
        <li class=""><a href="#servicesTab" data-toggle="tab"
                        aria-expanded="false">Services{% if services|length == 0 %}
                <span class="badge"><i class="fa fa-exclamation" aria-hidden="true"></i></span>{% endif %}</a>
        </li>
        <li class=""><a href="#tasksTab" data-toggle="tab" aria-expanded="false">Tasks{% if tasks|length == 0 %}
                <span class="badge"><i class="fa fa-exclamation" aria-hidden="true"></i></span>{% endif %}</a>
        </li>
        {#<li class=""><a href="#categoriesTab" data-toggle="tab"#}
        {#aria-expanded="false">Categories{% if categories|length == 0 %}#}
        {#<span class="badge"><i class="fa fa-exclamation" aria-hidden="true"></i></span>{% endif %}</a>#}
        {#</li>#}
    </ul>
    <br>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="vehiclesTab">
            {% if vehicles|length == 0 %}
                {#<div class="alert alert-dismissible alert-info">#}
                {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                {#<strong>Hey!</strong> You haven't added any vehicle yet.#}
                {#</div>#}
                <p class="text-warning"><strong>Hey!</strong> You haven't added any vehicle yet.</p>
            {% else %}
                {% include 'vehicle/_list.html.twig' %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="servicesTab">
            {% if services|length == 0 %}
                {#<div class="alert alert-dismissible alert-info">#}
                {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                {#<strong>Hey!</strong> You haven't done any service on your vehicle(s) yet.#}
                {#</div>#}
                <p class="text-warning"><strong>Hey!</strong> You haven't done any service on your vehicle(s) yet.</p>
            {% else %}
                {% include 'service/_list.html.twig' %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="tasksTab">
            {% if tasks|length == 0 %}
                {#<div class="alert alert-dismissible alert-info">#}
                {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
                {#<strong>Hey!</strong> You haven't added any task yet.#}
                {#</div>#}
                <p class="text-warning"><strong>Hey!</strong> You haven't added any task yet.</p>
            {% else %}
                {% include 'task/_list.html.twig' %}
            {% endif %}
        </div>
        {#<div class="tab-pane fade" id="categoriesTab">#}
        {#{% if categories|length == 0 %}#}
        {#<div class="alert alert-dismissible alert-info">#}
        {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
        {#<strong>Hey!</strong> You haven't added any category yet.#}
        {#</div>#}
        {#<p class="text-warning"><strong>Hey!</strong> You haven't added any category yet.</p>#}
        {#{% else %}#}
        {#{% include 'category/_list.html.twig' %}#}
        {#{% endif %}#}
        {#</div>#}
    </div>

    {#{% if vehicles|length == 0 %}#}
    {#<div class="alert alert-dismissible alert-info">#}
    {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
    {#<strong>Hey!</strong> You haven't added any vehicle yet.#}
    {#</div>#}
    {#{% endif %}#}

    {#{% if services|length == 0 %}#}
    {#<div class="alert alert-dismissible alert-info">#}
    {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
    {#<strong>Hey!</strong> You haven't done any service on your vehicle(s) yet.#}
    {#</div>#}
    {#{% endif %}#}

    {#{% if tasks|length == 0 %}#}
    {#<div class="alert alert-dismissible alert-info">#}
    {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
    {#<strong>Hey!</strong> You haven't added any task yet.#}
    {#</div>#}
    {#{% endif %}#}

    {#{% if categories|length == 0 %}#}
    {#<div class="alert alert-dismissible alert-info">#}
    {#<button type="button" class="close" data-dismiss="alert">&times;</button>#}
    {#<strong>Hey!</strong> You haven't added any category yet.#}
    {#</div>#}
    {#{% endif %}#}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('vehicle_new') }}"
            class="btn btn-success btn-block"
            role="button">New Vehicle</a>
    <a
            href="{{ path('service_new') }}"
            class="btn btn-success btn-block"
            role="button">New Service</a>
    <a
            href="{{ path('task_new') }}"
            class="btn btn-success btn-block"
            role="button">New Task</a>
    {#<a#}
    {#href="{{ path('category_new') }}"#}
    {#class="btn btn-success btn-block"#}
    {#role="button">New Category</a>#}

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#tabs").tabs({
                event: "mouseover"
            });
        });
    </script>
{% endblock %}
