{% extends 'base.html.twig' %}

{% block body %}
    <h2>Edit Service</h2>

    {{ form(serviceForm) }}
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('service_show', {'id':service.id}) }}"
            class="btn btn-info btn-block"
            role="button">View</a>

{% endblock %}
