{% extends 'base.html.twig' %}

{% block body %}
    <h2>Services</h2>

    {% if services|length == 0 %}
        <p>You haven't added any service. <a href="{{ path('service_new') }}">Add one</a> now.</p>
    {% else %}
        {% include 'service/_list.html.twig' %}

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(services) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('service_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteService').click(function () {
                if (!$(this).closest('tr').hasClass('disabled')) {
                    var serviceId = $(this).attr("serviceId");
                    $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Service will be permanently deleted and cannot be recovered. Are you sure?');
                    openDeleteDialog("#dialog", "Delete the Service?", "/services/" + serviceId, afterDelete, serviceId);
                }
            });
        });

        function afterDelete(id) {
            $('.deleteService[serviceId=' + id + ']').closest('tr').addClass('disabled');
            $('.editService[serviceId=' + id + ']').removeAttr('href');
        }
    </script>

{% endblock %}
